.body {
  background-color: #1B2473 ;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

.autorization {
  margin: 83px auto;
  width: 600px;
  max-width: 100%;
  background-color: #FFFFFF;
  padding-bottom: 20px;
  border-radius: 20px;
}

.autorization_link {
  display: block;
  font-size: 0.8em;
  padding: 10px 30px;
  text-align: right;
  color: #1A226B;
  font-weight: 700;
}
.entry {
  color: #787878;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
}
.autorization_entry-field {
  display: flex;
  position: relative;
  flex-direction: column;
  color: #787878;
  margin: 20px 46px;
}
.autorization_entry-field > input {
  height: 50px;
  position: relative;
  border: 2px solid #787878;
  border-radius: 10px;
}
.entry-field_required:before {
  content: '*';
  display: block;
  position: absolute;
  left: -10px;
  top: 5px;
}

.entry-field_required-1:before {
  top: 20px;
  position: absolute;
}

.signature {
  font-size: 1em;
  color: red;
  padding: 5px 0px;
  display: none;
}

.autorization_label {
  font-size: 1em;
  padding-left: 10px;
}
.autorization_username {
  font-size: 1.5em;
  color: #CCCCCC;
  border-radius: 10px;
  padding-left: 15px;
}

.entry-checkbox {
  position: relative;
  color: #787878;
  margin: 10px 46px;
}

.input-checkbox__label {
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 5px;
  font-size: 14px;
  line-height: 14px;
  top: -8px;
    position: absolute;
}

#checkbox {
  width: 24px;
  height: 24px;
}

.wrapper {
  color: #FFFFFF;
  display: block;
  margin: 0px auto;
  text-align: center;
  background-color: #1A226B;
  width: 10em;
  height: 3em;
  border-radius: 10px;
  font-weight: 700;
}

.entry-field_error input {
  border-color: red;
}
.entry-field_error:before {
  color: red;
}
.entry-field_error .autorization_label {
  color: red;
}
.entry-field_error .signature {
  display: block;
}
.entry-field_error .input-checkbox__label:before {
  border-color: red;
}
.error_text {
  display: none;
  color: red;
  padding-left: 30px;
}